@font-face {
    font-family: 'IRANSans';
    src: url('/sale_shamsi_report/static/src/fonts/IRANSans.ttf') format('truetype');
    font-weight: bold;
}

body, .page, .o_report_layout_bubble, .footer, .o_footer_content, .o_company_tagline {
    font-family: 'IRANSans', Tahoma, Arial, sans-serif !important;
    /* direction: rtl !important;
    text-align: left !important;
    float: left; */
}

.customer_label{
    font-size:24px;
    font-weight:700;
}

.so_title_big{
    font-size:20px !important;
}

/* استایل اختصاصی برای امضای گزارشات */
.signature_container img {
    width: 200px !important; 
    height: auto !important;
    max-height: 250px !important;
    display: block !important;
    margin: 0 auto !important;
}

.signature_title {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 15px !important;
    display: block !important;
    color: #333;
}

.user_name_style {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #000;
    margin-top: 10px;
}
